.wrap{
    
    width: 100%;
    display: table;
    margin: 0 auto;
    /*max-width: 1100px;*/
    border:solid 2px green;
    
}

.col-6 {
    
    width:48%;
    border: 1px solid red;
    margin-right: 4%;
    
}

.col-4 {
    
    width: 28.2%;
    border: 1px solid red;
    margin-right: 4%;
}

.col-2 {
    
    width: 15.75%;
    border: 1px solid red;
    
}

.col-12{
    
    width:100%;
    border: 1px solid red;
    
}

[class*='col-'] {
  float: left;
  padding-right:10px;
  
  
 }
 
 *{
     box-sizing: border-box;
 }
 
 
 
.row{
     clear:both;
     
 }
 
 [class*='col-']:last-of-type {
  padding-right: 0px;
  margin-right: 0%;
}